{% extends "feed_base.html" %}

{% block title %} pony-build RSS2 feeds {% endblock %}

{% block header %}
<h1>pony-build report server - RSS2 feeds</h1>
{% endblock %}

{% block content %}

{% if feeds %}
   <h3 class="top_main_heading">RSS2 Feed information</h3>
   <p>
   We export the following feeds:<br><br>
   {% for feedkey, description in feeds %} 
      <A href='./{{ feedkey }}'>Feed {{ feedkey }}: {{ description }}.</a><br>
   {% endfor %}
{% else %}
No feeds available!
{% endif %}

{% endblock %}
