{% extends "base.html" %}

{% block title %} Build summary for '{{ package }}' {% endblock %}

{% block content %}

<h2>Package '{{ package }}'</h2>
Build summary:<p>
{% if d %}
   <table border='1'>
      <tr><th>Architecture</th><th>Status</th><th>last report</th></tr>
   {% for arch in arch_list %}
      <tr>
        <td>{{ arch }}</td>
        <td>{{ calc_status(arch) }}</td>
        <td>{{ calc_time(arch) }}</td>
        <td><a href='detail?result_key={{ get_result_key(arch) }}'>view details</a></td>      </tr>
   {% endfor %}
   </table>
   <p>
   <a href='./'>show default report</a>
   <p>
   <a href='./show_all'>show all results</a>
{% else %}
 No results for this package!
{% endif %}

{% endblock %}
