{% extends "package_base.html" %}

{% block title %} Build summary for '{{ package }}' {% endblock %}

{% block content %}

<title>Inspector for record {{ key }}</title>
<h2>Inspector for record {{ key }}</h2>

Tag set: {{ tagset }}
<p>
Receipt info:
<pre>
{% for k, v in receipt.items() -%}
   {{ k }}: {{ v }}
{% endfor -%}
</pre>

Client info:
<pre>
{% for k, v in client_info.items() -%}
   {{ k }}: {{ v }}
{% endfor -%}
</pre>
<hr>
<p>
<b>Results:</b>
<ul>
{% for result_d in results -%}
   <li>Result {{ loop.index }}:<br>
   <pre>
   {% for k, v in result_d.items() -%}
      {{ k }}: {{ v }}
   {% endfor -%}
   </pre>
{% endfor %}
</ul>

{% endblock %}
