{% extends "base.html" %}

{% block title %} pony-build main {% endblock %}

{% block header %}
<h1>pony-build report server</h1>
{% endblock %}

{% block content %}

{% if packages %}
   <h3 class="top_main_heading">Build information</h3>
   <p>
   We have build information for:<br>
   {% for p in packages %}
      <a href='./p/{{ qp(p) }}/'>{{ loop.index }}. {{ p }}</a<br>
   {% endfor %}
   <br>
   You might also be interested in our <a href='./rss2/'>RSS feeds</a>.
{% else %}
   No build information received yet.
{% endif %}

{% endblock %}
