{% extends "package_base.html" %}

{% block title %} Build summary for '{{ package }}' {% endblock %}

{% block content %}

<h2>Package '{{ package }}'</h2>
<h4><i>Summary view of results</i></h4>
<br>
{% if d %}
   <table border='1'>
      <tr><th>Tags</th><th>Host</th><th>Arch</th><th>Status</th><th>last report</th></tr>
   {% for tagset in tagset_list %}
      <tr>
        <td>{{ nicetagset(tagset) }}</td>
        <td>{{ get_host(tagset)}}</td>
        <td>{{ get_arch(tagset)}}</td>
        <td>{{ calc_status(tagset) }}</td>
        <td>{{ calc_time(tagset) }}</td>
        <td><a href='./{{ get_result_key(tagset) }}/'>view details</a> | 
<a href='./{{ get_result_key(tagset) }}/request_build'>request build</a>
{% if files_exist(tagset) %}
   | <a href='./{{get_result_key(tagset) }}/files'>files</a>
{% endif %}
</td>
      </tr>
   {% endfor %}
   </table>
   {% if stale_exists %}
     <font color='red'>*</font> Stale build.
   {% endif %}

{% else %}
 No results for this package!
{% endif %}
</p>

{% endblock %}
