{% extends "package_base.html" %}

{% block title %} All build results for '{{ package }}' {% endblock %}

{% block content %}

<h2>Package '{{ package }}'</h2>
<h4><i>All build information</i></h4>
<br>
{% if all_results %}
   <table border='1'>
      <tr><th>Host</th><th>Arch</th><th>Status</th><th>Tags</th><th>Time</th></tr>
   {% for (receipt, client_info, results_list) in all_results %}
      <tr>
        <td>{{ client_info['host'] }}</td>
        <td>{{ client_info['arch'] }}</td>
        <td>{{ calc_status(client_info['success']) }}</td>
        <td>{{ nicetagset(client_info['tags']) }}</td>
        <td>{{ calc_time(receipt['time']) }}</td>
        <td><a href='./{{ qp(receipt['result_key']) }}/'>view details</a></td>      </tr>
   {% endfor %}
   </table>
{% else %}
 No results for this package!
{% endif %}

{% endblock %}
