body {
	font-family:arial, verdana, helvetica, sans-serif;
	font-size:12px;
	cursor:default;
	color:#AAAAAA;
	background-color:#FFFFFF
}
td {
	padding: 3px;
}
* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}
html {
	height:100%;
	margin-bottom:1px;
}
#container {
	width: 750px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	background-color: #FFFFFF;
	color:#AAAAAA;
}
#header {
	width:100%;
	padding-top:15px;
}
.spacer {
	width:100%;
	height:15px;
}
hr {
	border:0px;
	color:#CCCCCC;
	background-color:#CDCDCD;
	height: 1px;
	width: 100%;
	text-align: left;
}
h1 {
	font-size:28px;
	color:#999927;
	background-color:#FFFFFF;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-weight:300;
}
h2 {
	font-size:20px;
	color:#666666;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-weight:300;
	background-color:#FFFFFF;
}
h3 {
	color:#999927;
	font-size:15px;
	background-color:#F9F9F9;
	border-width:1px;
	border-color:#AAAAAA;
	border-style:solid;
	text-align:left;
	margin-left:20px;
	margin-right:20px;
	font-weight:300;
	padding:5px;
}
.top_main_heading {
	margin-top:15px;
}
#left {
	float:left;
	width:200px;
	background-color:#FFFFFF;
	color:#AAAAAA;
}
#leftcontent h3 {
	font-weight: bold;
}
#leftcontent p {
	color:#AAAAAA;
	background-color:#FFFFFF;
	font-size: 12px;
	text-align:left;
	margin-left:20px;
	margin-right:20px;
}
#leftcontent ul {
	list-style:none;
	padding-left:20px;
	color:#AAAAAA;
	background-color:#FFFFFF;
}
#leftcontent a {
	color:#999927;
	text-decoration:none;
	font-size:16px;
	background-color:#FFFFFF;
}
.news {
	color:#999999;
	border-bottom:1px;
	border-left:1px;
	border-right:1px;
	border-top:0px;
	border-style:solid;
	border-color:#AAAAAA;
	background-color:#FFFFFF;
	line-height:20px;
	padding:5px;
}
#leftcontent a:hover {
	color:#999927;
	background-color:#FFFFFF;
	text-decoration:underline;
}
#main {
	float:left;
	width:550px;
	color:#666666;
	background-color:#FFFFFF;
	padding-bottom:20px;
//	background:url(img/background.png);
}
#maincontent p {
	color:#666666;
	background-color:#FFFFFF;
	border-bottom:1px;
	border-left:1px;
	border-right:1px;
	border-top:1px;
	border-style:solid;
	border-color:#AAAAAA;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:15px;
	line-height:20px;
	padding:20px;
}
#maincontent a {
	color:#999927;
	background-color:#FFFFFF;
	text-decoration:none;
}
#maincontent a:hover {
	color:#999927;
	background-color:#FFFFFF;
	text-decoration:underline;
}
#resulttext p {
	color:#666666;
	background-color:#FFFFFF;
	border-color:#AAAAAA;
	border-style:none;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:15px;
	line-height:20px;
	padding:20px;
}
.resultpre {
	color:#666666;
	background-color:#FFFFFF;
	margin-top: 0px;        
	margin-left:20px;
	margin-right:20px;
	margin-bottom:15px;
	line-height:20px;
	padding:20px;
	white-space: pre;
}
#footer {
	clear:both;
	width:750px;
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
#footer a {
	color:#AAAAAA;
	background-color:#FFFFFF;
	text-decoration:none;
}
#footer a:hover {
	color:#AAAAAA;
	background-color:#FFFFFF;
	text-decoration:underline;
}
.right {
	color:#AAAAAA;
	background-color:#FFFFFF;
	float:right;
	font-size:100%;
	margin-top:5px;
}
.left {
	color:#AAAAAA;
	background-color:#FFFFFF;
	float:left;
	font-size:100%;
	margin-top:5px;
}
